[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy="*"
flake8="*"
autopep8 = "*"
coverage = "*"

[packages]
leancloud="==2.1.8"

[requires]
python_version = "3.7"
